<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include qgis.wxi ?>

  <Product Id="9012b3c2-6362-4db8-ab69-bc9e9bc9e414"
           UpgradeCode="9e28b729-5b28-466e-8b6f-d3ae185e47e3"
           Name="$(var.AppName)"
           Version="$(var.AppVersion)"
           Manufacturer="QGIS Development Team; TechnologyOne"
           Language="1033">
    <Package Platform="x64"
             InstallerVersion="200"
             Description="QGIS $(var.AppVersion)"
             Comments="MSI package created by TechnologyOne"
             Compressed="yes"/>
    <Media Id='1' Cabinet='qgis.cab' EmbedCab='yes'/>

    <Icon Id="qgis.ico" SourceFile="$(var.AppIcon)" />
    <Property Id="ARPPRODUCTICON" Value="$(var.AppIcon)" />
    <Property Id="ARPHELPLINK" Value="http://www.qgis.com/" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATION" Name="$(var.AppRoot)">
          <Component Id="rootfiles" KeyPath="yes" Guid="c5e9ce2e-71c3-456b-a812-c06fab867d49">
            <File Id="fileOSGeo4Wbat" Source="$(var.QGISPATH)\OSGeo4W.bat" />
            <File Id="filemsvcp110" Source="$(var.QGISPATH)\msvcp110.dll" />
            <File Id="filemsvcr110" Source="$(var.QGISPATH)\msvcr110.dll" />
            <File Id="fileOSGeo4Wico" Source="$(var.QGISPATH)\OSGeo4W.ico" />
          </Component>
          <Directory Id="BIN_REF" Name="bin" />
          <Directory Id="APP_REF" Name="apps" />
          <Directory Id="ETC_REF" Name="etc" />
          <Directory Id="INCLUDE_REF" Name="include" />
          <Directory Id="LIB_REF" Name="lib" />
          <Directory Id="SHARE_REF" Name="share" />
          <Directory Id="VAR_REF" Name="var" />
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder">
        <Component Id="ApplicationShortcutDesktop" Guid="c98307c2-173b-427d-bafd-9af55e496327">
          <Shortcut Id="DesktopShortcut" 
                    Name="QGIS Desktop $(var.AppRoot)"
                    Description="$(var.AppName)"
                    Target="[BIN_REF]nircmd.exe"
                    Arguments="exec hide [BIN_REF]$(var.AppPackage).bat"
                    WorkingDirectory="BIN_REF"
                    Icon="qgis.ico"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\QGIS\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.AppName)">
          <Component Id="ApplicationShortcut" Guid="8ffea946-dae2-49ac-8859-61ceff794ff1">
            <Shortcut Id="ApplicationStartMenuShortcut" 
                      Name="QGIS Desktop $(var.AppVersion)"
                      Description="$(var.AppName)"
                      Target="[BIN_REF]nircmd.exe"
                      Arguments="exec hide [BIN_REF]$(var.AppPackage).bat"
                      WorkingDirectory="BIN_REF"
                      Icon="qgis.ico"/>
          </Component>
          <RemoveFolder Id="ApplicationShortcutDesktop" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\QGIS\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="rootfiles" />    
      <ComponentGroupRef Id="bin" />    
      <ComponentGroupRef Id="app" />    
      <ComponentGroupRef Id="etc" />    
      <ComponentGroupRef Id="include" />    
      <ComponentGroupRef Id="lib" />    
      <ComponentGroupRef Id="share" />    
      <ComponentGroupRef Id="var" />    
      <ComponentRef Id="ApplicationShortcutDesktop" />    
      <ComponentRef Id="ApplicationShortcut" />    
    </Feature>
  </Product>
</Wix>
