<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include qgis.wxi ?>

  <Product Id="$(var.ProductCode)"
           UpgradeCode="$(var.UpgradeCode)"
           Name="$(var.AppName)"
           Version="$(var.AppVersion)"
           Manufacturer="QGIS Development Team; Installer by TechnologyOne"
           Language="1033">
    <Package Id="*"
             Platform="$(var.Platform)"
             InstallerVersion="200"
             Description="QGIS $(var.AppVersion)"
             Comments="MSI package created by TechnologyOne"
             InstallScope="perMachine"
             Compressed="yes"/>

    <Media Id='1' Cabinet='qgis.cab' EmbedCab='yes' CompressionLevel="high"/>

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Icon Id="qgis.ico" SourceFile="$(var.QGISIcon)" />
    <Icon Id="browser.ico" SourceFile="$(var.BrowserIcon)" />

    <Property Id="ARPPRODUCTICON" Value="$(var.QGISIcon)" />
    <Property Id="ARPHELPLINK" Value="http://www.qgis.org" />
    <Property Id="ApplicationFolderName" Value="$(var.AppRoot)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <!-- TODO Disable per user installs for now because I can't get it to work right. -->
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="resources\License.rtf" />

    <UIRef Id="WixUI_Advanced" />

    <CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder"
                  Property="WixPerMachineFolder"
                  Value="[$(var.PlatformProgramFilesFolder)][ApplicationFolderName]"
                  Execute="immediate" />
    <InstallUISequence>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.AppRoot)">
          <Component Id="rootfiles" Win64="$(var.Win64)" KeyPath="yes" Guid="c5e9ce2e-71c3-456b-a812-c06fab867d49">
            <File Id="fileOSGeo4Wbat" Source="$(var.QGISPATH)\OSGeo4W.bat" />
            <File Id="filemsvcp110" Source="$(var.QGISPATH)\msvcp110.dll" />
            <File Id="filemsvcr110" Source="$(var.QGISPATH)\msvcr110.dll" />
            <File Id="fileOSGeo4Wico" Source="$(var.QGISPATH)\OSGeo4W.ico" />
          </Component>
          <Directory Id="BIN_REF" Name="bin" />
          <Directory Id="APP_REF" Name="apps" />
          <Directory Id="ETC_REF" Name="etc" />
          <Directory Id="INCLUDE_REF" Name="include" />
          <Directory Id="LIB_REF" Name="lib" />
          <Directory Id="SHARE_REF" Name="share" />
          <Directory Id="VAR_REF" Name="var" />
        </Directory>
        <Directory Id="DesktopFolder">
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="QGISProgramsFolder" Name="$(var.AppRoot)"/>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="QGSDesktopShortcutDesktop" Guid="c98307c2-173b-427d-bafd-9af55e496327">
        <Shortcut Id="QGISDesktopShortcut" 
                  Name="$(var.DesktopName)"
                  Description="$(var.DesktopName)"
                  Target="[BIN_REF]nircmd.exe"
                  Arguments="exec hide &quot;[BIN_REF]$(var.AppPackage).bat&quot;"
                  WorkingDirectory="BIN_REF"
                  Icon="qgis.ico"/>
        <RemoveFolder Id="RemoveShortcut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\QGIS\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="QGSBrowserShortcutDesktop" Guid="9877f3be-3c51-4167-b8ba-cb4e02721758">
        <Shortcut Id="QGISBrowserShortcut" 
                  Name="$(var.BrowserName)"
                  Description="$(var.BrowserName)"
                  Target="[BIN_REF]nircmd.exe"
                  Arguments="exec hide &quot;[BIN_REF]$(var.AppPackage)-browser.bat&quot;"
                  WorkingDirectory="BIN_REF"
                  Icon="browser.ico"/>
        <RemoveFolder Id="RemoveShortcut2" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\QGIS\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="QGISProgramsFolder">
      <Component Id="QGISDesktopShortcutStartMenu" Guid="8ffea946-dae2-49ac-8859-61ceff794ff1">
        <Shortcut Id="QGISStartMenuShortcut" 
                  Name="$(var.DesktopName)"
                  Description="$(var.DesktopName)"
                  Target="[BIN_REF]nircmd.exe"
                  Arguments="exec hide &quot;[BIN_REF]$(var.AppPackage).bat&quot;"
                  WorkingDirectory="BIN_REF"
                  Icon="qgis.ico"/>
        <RemoveFolder Id="RemoveShortcut3" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\QGIS\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="QGSBrowserShortcutStartMenu" Guid="0a1e1422-4a97-4424-8951-9236ffeabd9b">
        <Shortcut Id="QGISBrowserStartMenuShortcut" 
                  Name="$(var.BrowserName)"
                  Description="$(var.BrowserName)"
                  Target="[BIN_REF]nircmd.exe"
                  Arguments="exec hide &quot;[BIN_REF]$(var.AppPackage)-browser.bat&quot;"
                  WorkingDirectory="BIN_REF"
                  Icon="browser.ico"/>
        <RemoveFolder Id="Removeshortcut4" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\QGIS\$(var.AppName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="DefaultFeature" Level="1" Title="QGIS"
             Description="Core QGIS Install"
             Display="expand" Absent="disallow"
             TypicalDefault="install">
      <ComponentRef Id="rootfiles" />
      <ComponentGroupRef Id="bin" />    
      <ComponentGroupRef Id="app" />    
      <ComponentGroupRef Id="etc" />    
      <ComponentGroupRef Id="include" />    
      <ComponentGroupRef Id="lib" />    
      <ComponentGroupRef Id="share" />    
      <ComponentGroupRef Id="var" />    
      <Feature Id="ShortcutFeatures" Level="1" Title="QGIS Shortcuts"
               TypicalDefault="install"
               Description="Create shortcuts">
        <ComponentRef Id="QGSDesktopShortcutDesktop" />
        <ComponentRef Id="QGISDesktopShortcutStartMenu" />
        <ComponentRef Id="QGSBrowserShortcutDesktop" />
        <ComponentRef Id="QGSBrowserShortcutStartMenu" />
      </Feature>
    </Feature>
  </Product>
</Wix>
